<div class="navigation-buttons-container">
  <select [formControl]="country" *ngIf="countries">
    <option [ngValue]="null">Select Country</option>
    <option *ngFor="let country of countries" [ngValue]="country">
      {{ country }}
    </option>
  </select>
  <select [formControl]="itemsPerPageFormControl">
    <option [ngValue]="null">All items</option>
    <option [ngValue]="10">10 items per page</option>
  </select>
  <div class="records">{{ items.value.length }} records on page</div>
  <div class="spacer"></div>

  <div class="pagination">
    <span (click)="first()"><<</span>
    <span (click)="prev()"><</span>
    <span>{{ currentPage }} of {{ totalPages }} </span>
    <span (click)="next()">></span>
    <span (click)="last()">>></span>
  </div>
</div>

<div class="items-header">
  <div class="name" (click)="sort('name')">Name</div>
  <div class="region" (click)="sort('region')">Region</div>
  <div class="scores-container column">
    <div>Scores:</div>
    <div class="row">
      <div class="score" (click)="sort('exam')">Exam</div>
      <div class="score" (click)="sort('quiz')">Quiz</div>
      <div class="score" (click)="sort('homework')">Homework</div>
    </div>
  </div>
</div>

<div class="items-container" *ngIf="items | async as list">
  <ng-container *ngFor="let item of list">
    <app-item [item]="item"></app-item>
  </ng-container>
</div>
